html {
    overflow: scroll;
    overflow-x: hidden;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 900px) {
    
    aside {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        
        background-image: linear-gradient(rgb(138, 255, 208), rgb(168, 211, 255));
    }
    
    .content {
        position: absolute;
        right: 0px;
        top: 0px;
        
        padding: 40px 80px 120px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 80px;
        right: 0px;
        
        background-color: white;
    }
    
    
    @media screen and (min-width: 1250px) {
        
        aside {
            width: 250px;
            font-size: 24px;
        }
        
        .content {
            left: 250px;
        }
        
        footer {
            left: 250px;
        }
        
    }

    @media screen and (max-width: 1249px) {
        
        aside {
            width: 20%;
            font-size: 1.96vw;
        }
        
        .content {
            left: 20%;
        }
        
        footer {
            left: 20%;
        }
        
    }
}

@media screen and (max-width: 899px) {
    
    aside {
        display: none;
    }
    
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        
        padding: 40px 80px 120px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 80px;
        left: 0;
        right: 0;
        
        background-color: white;
    }
    
}



h1 {
    font-size: 4vw;
}

p {
    font-size: 1vw;
}


body {
    background-color: hsl(140, 0%, 98%);
    
    color: rgb(14, 27, 69);
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}


aside > .links {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 100%;
    
    border: 0px solid black;
    border-collapse: collapse;
}

aside > .links td {
    padding: 10px;
    
    text-align: center;
}

aside > .links a {
    color: white;
    
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(168, 211, 255, 128);
}

aside > .links a:hover {
    transition-duration: 0.4s;
    
    text-shadow: 2px 2px 2px rgba(138, 197, 255, 128);
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

footer .link {
    padding: 15px;
    width: 100px;
}

footer img {
    position: relative;
    height: 100%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    filter: url('#colorize-blue');
    -webkit-filter: url('#colorize-blue');
}


.about {
    position: relative;
    left: 15%;
    width: 60%;
    
    line-height: 90%;
}

.about h1 {
    padding-top: 5%;
    
    font-size: 4vw;
}

.about p {
    position: relative;
    left: 5%;
    
    padding-right: 25%;
    
    font-size: 1.5vw;
    line-height: 120%;
}


.portfolio h1 {
    padding-top: 5%;
    
    text-align: center;
    font-size: 3vw;
    line-height: 0%;
}

.portfolio .items {
    position: relative;
    width: 100%;
    
    display: grid;
    
}

.portfolio table {
    position: relative;
    width: 100%;
}

.portfolio td {
    width: 50%;
    min-width: 300px;
    height: 100%;
    
    padding: 0% 4% 7%;
}

.portfolio .item {
    position: relative;
    width: 80%;
    
    border: 1px solid rgb(168, 211, 255);
    border-radius: 4px;
    
    background-color: rgb(246, 248, 250);
    
    margin-top: 5%;
    padding: 0% 10% 5%;
}

.portfolio .item:hover {
    transition-duration: 0.4s;
    
    background-color: rgb(242, 246, 250);
}

.portfolio .item h1 {
    padding: 0px;
    
    font-size: 2vw;
    line-height: 100%;
}

.portfolio .item img {
    position: relative;
    left: 10%;
    width: 80%;
}

.portfolio .item p {
    line-height: 50%;
}

.portfolio .item .desc {
    text-align: center;
    line-height: 120%;
}

.portfolio .item td {
    margin: 0%;
    padding: 0%;
}