html {
    overflow: scroll;
    overflow-x: hidden;
    
    -ms-overflow-style: none;
    scrollbar-width: none;
    
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    display: none;
}


@media screen and (min-width: 900px) {
    
    nav {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        
        background-image: linear-gradient(rgb(138, 255, 208), rgb(168, 211, 255));
    }
    
    .content {
        position: absolute;
        right: 0px;
        top: 0px;
        
        padding: 40px 80px 120px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 80px;
        right: 0px;
        
        background-color: white;
    }
    
    
    @media screen and (min-width: 1250px) {
        
        body {
            font-size: 1.5vw;
        }
        
        nav {
            width: 250px;
            font-size: 24px;
        }
        
        .content {
            left: 250px;
        }
        
        .portfolio-details {
            left: 250px;
        }
        
        footer {
            left: 250px;
        }
        
    }

    @media screen and (max-width: 1249px) {
        
        body {
            font-size: 18.75px;
        }
        
        nav {
            width: 20%;
            font-size: 1.96vw;
        }
        
        .content {
            left: 20%;
        }
        
        .portfolio-details {
            left: 20%;
        }
        
        footer {
            left: 20%;
        }
        
    }
    
    @media screen and (max-width: 956px) {
        
        nav {
            font-size: 18.75px;
        }
        
    }
}

@media screen and (max-width: 899px) {
    
    body {
        font-size: 18.75px;
    }
    
    nav {
        display: none;
    }
    
    .content {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        
        padding: 40px 80px 120px;
    }
    
    .portfolio-details {
        left: 0;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 80px;
        left: 0;
        right: 0;
        
        background-color: white;
    }
    
}



h1 {
    font-size: 3em;
    line-height: 0%;
}

h2 {
    font-size: 2em;
    line-height: 0%;
}

p {
    font-size: 1em;
    line-height: 75%;
}


button {
    border-width: 0px;
    background-color: initial;
    
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    color: inherit;
}


body {
    background-color: hsl(140, 0%, 98%);
    
    color: rgb(14, 27, 69);
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
}


nav > .links {
    position: absolute;
    width: 100%;
    top: 50px;
    bottom: 100%;
    
    border: 0px solid black;
    border-collapse: collapse;
}

nav > .links td {
    padding: 10px;
    
    text-align: center;
}

nav > .links a {
    color: white;
    
    text-decoration: none;
    text-shadow: 2px 2px 2px rgba(168, 211, 255, 128);
}

nav > .links a:hover {
    transition-duration: 0.4s;
    
    text-shadow: 2px 2px 2px rgba(138, 197, 255, 128);
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

footer .link {
    padding: 15px;
    width: 100px;
}

footer img {
    position: relative;
    height: 100%;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    filter: url('#colorize-blue');
    -webkit-filter: url('#colorize-blue');
}


.about {
    position: relative;
    left: 15%;
    width: 60%;
    
    line-height: 90%;
}

.about h1 {
    padding-top: 5%;
    
    font-size: 4em;
}

.about p {
    position: relative;
    left: 5%;
    
    padding-right: 25%;
    
    font-size: 1.5em;
    line-height: 120%;
}


/*
.portfolio h1 {
    padding-top: 5%;
    
    text-align: center;
    line-height: 0%;
}
*/

.portfolio .items {
    position: relative;
    width: 100%;
    
    padding-top: 1%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: flex-start;
}

.portfolio .item {
    box-sizing: border-box;
    
    /*
    
    border: 1px solid rgb(168, 211, 255);
    border-radius: 4px;
    
    background-color: rgb(246, 248, 250);
    */
    
    /*
    margin-left: 10px;
    margin-right: 10px;
    */
    margin-bottom: 30px;
    
    padding: 20px 2%;
    
    text-decoration: none;
    color: inherit;
    
    cursor: pointer;
}

.portfolio .item:hover {
    transition-duration: 0.4s;
    
    background-color: rgb(242, 246, 250);
}

.portfolio .item img {
    position: relative;
    width: 100%;
}

.portfolio .item h2 {
    padding-top: 2%;
    padding-bottom: 2%;
    
    font-size: 1.25em;
    line-height: 0%;
}

.portfolio .item p {
    padding-left: 2%;
    padding-right: 5%;
    
    line-height: 50%;
}

.portfolio .item .desc {
    line-height: 120%;
}


@media screen and (min-width: 1500px) {
    
    .portfolio .item {
        position: relative;
        max-width: 33%;
        
        font-size: 0.6em;
    }
    
}

@media screen and (max-width: 1499px) and (min-width: 1050px) {
    
    .portfolio .item {
        max-width: 49%;
        
        font-size: 0.8em;
    }
    
}

@media screen and (max-width: 1049px) {
    
    .portfolio .item {
        max-width: 100%;
        
        font-size: 0.85em;
    }
    
}



.portfolio-details {
    z-index: -1;
    
    position: fixed;
    right: 0;
    top: 0;
    bottom: 80px;
}

.portfolio-details .item {
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    bottom: 0;
    
    padding: 5% 80px 40px;
    
    background-color: hsl(140, 0%, 96%);
}

.portfolio-details .item:disabled {
    z-index: -1;
    opacity: 0;
    
    transition-duration: 0.5s;
}

.portfolio-details .item:enabled {
    z-index: 0;
    opacity: 1;
    
    transition-duration: 0.5s;
}

.portfolio-details .close {
    position: absolute;
    right: 40px;
    top: 20px;
    
    font-family: sans-serif;
    font-size: 2em;
    color: rgb(240, 75, 60);
    
    text-decoration: none;
    
    cursor: pointer;
}

.portfolio-details .item-details {
    width: 100%;
    height: 100%;
    
    display: grid;
    align-content: center;
    grid-template-columns: 30% 70%;
    grid-column-gap: 40px;
    grid-template-areas: 
        'item-image item-name'
        'item-image item-description'
        'item-footer item-footer';
}

.portfolio-details .item-image {
    grid-area: item-image;
    width: 100%;
    margin: auto;
}

.portfolio-details .item-name {
    grid-area: item-name;
}

.portfolio-details .item-description {
    grid-area: item-description;
    line-height: 120%;
}

.portfolio-details .item-footer {
    grid-area: item-footer;
    text-align: center;
}

.portfolio-details a {
    color: rgb(128, 179, 255);
    text-decoration: none;
}



.contact h1 {
    
}

.contact p {
    position: relative;
    left: 2%;
}